/* line 3, /Users/frankwang/src/parkwayplace/source/css/style.scss */
* {
  box-sizing: border-box; }

/* line 7, /Users/frankwang/src/parkwayplace/source/css/style.scss */
img {
  max-width: 100%;
  height: auto; }

/* line 12, /Users/frankwang/src/parkwayplace/source/css/style.scss */
body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  background-image: url("../img/body_bg.png"); }

/* line 17, /Users/frankwang/src/parkwayplace/source/css/style.scss */
h2 {
  margin: 0;
  padding: 10px 0;
  font-size: 3rem;
  font-weight: 300;
  text-align: center; }

/* line 25, /Users/frankwang/src/parkwayplace/source/css/style.scss */
h3 {
  margin: 0;
  padding: 10px 0; }

/* line 30, /Users/frankwang/src/parkwayplace/source/css/style.scss */
p {
  font-size: 0.9rem; }

/* line 34, /Users/frankwang/src/parkwayplace/source/css/style.scss */
a {
  text-decoration: none;
  color: inherit; }

/* line 39, /Users/frankwang/src/parkwayplace/source/css/style.scss */
ul {
  list-style-type: squares; }

/* line 44, /Users/frankwang/src/parkwayplace/source/css/style.scss */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 300; }
  /* line 53, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  nav ul {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 0; }
  /* line 59, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  nav li {
    display: inline-block;
    list-style: none;
    transition: all 0.3s ease;
    position: relative;
    font-size: 1.2rem; }
  /* line 66, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  nav li.shrunk {
    font-size: 0.9rem;
    font-weight: 400; }
  /* line 70, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  nav a:hover {
    background-color: #CE4E4A; }
  /* line 73, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  nav a {
    transition: background-color 0.2s linear;
    display: block;
    color: #fff;
    padding: 15px; }
  /* line 79, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  nav .current {
    background-color: #CE4E4A; }
  /* line 82, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  nav li ul {
    visibility: hidden;
    font-size: 1rem;
    position: absolute;
    left: 0;
    top: -500%;
    background: rgba(0, 0, 0, 0.2);
    width: 13em;
    text-align: left;
    opacity: 0;
    transition: all 0.5s ease; }
  /* line 94, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  nav li:hover ul {
    visibility: visible;
    display: block;
    top: 100%;
    opacity: 1; }
  /* line 100, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  nav li ul > li {
    display: block; }
  /* line 104, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  nav .book {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2rem;
    background: #CE4E4A;
    display: block;
    font-weight: 400;
    transition: all 0.3s ease; }
  /* line 115, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  nav .book:hover {
    transform: scale(1.2); }
  /* line 119, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  nav .book.shrunk {
    font-size: 0.9rem; }
  /* line 123, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  nav .social {
    letter-spacing: 1em;
    padding: 15px 0 15px 20px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.2rem; }
    /* line 130, /Users/frankwang/src/parkwayplace/source/css/style.scss */
    nav .social i {
      transition: all 0.3s ease; }
    /* line 133, /Users/frankwang/src/parkwayplace/source/css/style.scss */
    nav .social i:hover {
      transform: scale(1.5); }
  /* line 138, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  nav .social.shrunk {
    font-size: 0.9rem; }

/* line 143, /Users/frankwang/src/parkwayplace/source/css/style.scss */
.divider {
  position: relative;
  width: 100%;
  clear: both;
  padding: 20px 0;
  text-align: center; }
  /* line 149, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  .divider .line {
    width: 100%;
    height: 1px;
    position: absolute;
    background: #C2C1C1;
    top: 50%; }
  /* line 156, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  .divider span {
    position: relative;
    z-index: 1;
    background: #fff;
    padding: 0 5px; }
  /* line 162, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  .divider img {
    height: auto; }

/* line 168, /Users/frankwang/src/parkwayplace/source/css/style.scss */
.slogan {
  background: #2b2c2c;
  color: white; }
  /* line 171, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  .slogan .wrapper {
    background-color: transparent;
    padding: 0 20px; }
  /* line 175, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  .slogan .spacer {
    width: 100%;
    background: #fff;
    height: 20px; }
  /* line 180, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  .slogan .spacer:before {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    border-right: 10px solid #DDD;
    border-left: 10px solid transparent;
    border-top: 20px solid transparent; }
  /* line 189, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  .slogan .spacer:after {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid #DDD;
    border-top: 20px solid transparent; }
  /* line 198, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  .slogan p {
    margin: 0;
    padding: 10px 0;
    letter-spacing: 0.6em;
    word-spacing: 1em;
    text-transform: lowercase;
    font-weight: 300; }

/* line 208, /Users/frankwang/src/parkwayplace/source/css/style.scss */
.totop {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  bottom: 50px;
  right: 50px;
  transition: all 0.3s ease;
  background: #000;
  color: #fff;
  font-size: 2rem;
  border-radius: 5px; }
  /* line 219, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  .totop a {
    display: block;
    padding: 10px 20px;
    transition: all 0.3s ease; }
  /* line 224, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  .totop a:hover {
    transform: scale(2); }

/* line 229, /Users/frankwang/src/parkwayplace/source/css/style.scss */
.exist {
  visibility: visible;
  opacity: 1; }

/* line 234, /Users/frankwang/src/parkwayplace/source/css/style.scss */
footer {
  text-align: center;
  background: #2b2c2c;
  padding: 20px 0;
  color: #fff; }
  /* line 239, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  footer p {
    margin: 0; }

/* line 245, /Users/frankwang/src/parkwayplace/source/css/style.scss */
.wrapper {
  position: relative;
  max-width: 1000px;
  background: #fff;
  margin: 0 auto;
  padding: 20px; }

/* line 253, /Users/frankwang/src/parkwayplace/source/css/style.scss */
header {
  height: 450px;
  overflow: hidden; }
  /* line 256, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  header img {
    width: 100%; }

/* line 261, /Users/frankwang/src/parkwayplace/source/css/style.scss */
h1 {
  position: absolute;
  top: -59px;
  left: 0;
  margin: 0 0 0 20px;
  padding: 10px;
  background: #2b2c2c;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  line-height: 40px;
  font-size: 39px; }

/* line 275, /Users/frankwang/src/parkwayplace/source/css/style.scss */
.content .wrapper {
  box-shadow: 0px 18px 10px 10px rgba(0, 0, 0, 0.2); }
/* line 278, /Users/frankwang/src/parkwayplace/source/css/style.scss */
.content p:first-of-type {
  margin-top: 0; }
/* line 281, /Users/frankwang/src/parkwayplace/source/css/style.scss */
.content p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 20px; }

/* line 287, /Users/frankwang/src/parkwayplace/source/css/style.scss */
.promoted {
  width: 100%;
  color: #fff; }
  /* line 290, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  .promoted p {
    margin: 0;
    text-align: center; }
  /* line 294, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  .promoted .box {
    position: relative;
    width: 33.33%;
    width: calc(100% / 3);
    float: left; }
  /* line 300, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  .promoted .promotion {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease; }
  /* line 309, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  .promoted .box:hover .promotion {
    background: rgba(0, 0, 0, 0.6); }
  /* line 313, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  .promoted .box:nth-child(odd) .promotion {
    top: 0; }
  /* line 318, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  .promoted .box:nth-child(even) .promotion {
    top: 50%; }

/* line 325, /Users/frankwang/src/parkwayplace/source/css/style.scss */
.row .box:first-child {
  margin: 0; }
/* line 328, /Users/frankwang/src/parkwayplace/source/css/style.scss */
.row .box {
  float: left;
  width: 32%;
  margin-left: 2%;
  background: #ccc;
  position: relative;
  overflow: hidden; }
/* line 336, /Users/frankwang/src/parkwayplace/source/css/style.scss */
.row .box:hover img {
  transform: scale(1.08); }
/* line 339, /Users/frankwang/src/parkwayplace/source/css/style.scss */
.row img {
  max-width: none;
  width: 100%;
  height: auto;
  transition: all 0.5s ease; }
/* line 345, /Users/frankwang/src/parkwayplace/source/css/style.scss */
.row p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  padding: 20px;
  color: #fff;
  font-weight: 300; }
/* line 356, /Users/frankwang/src/parkwayplace/source/css/style.scss */
.row .box:hover p {
  background: rgba(0, 0, 0, 0.6); }

/* line 363, /Users/frankwang/src/parkwayplace/source/css/style.scss */
.find, .call {
  width: 50%;
  float: left;
  padding-left: 20px; }
  /* line 367, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  .find ul, .call ul {
    padding-left: 0;
    margin: 0;
    list-style: none; }

/* line 374, /Users/frankwang/src/parkwayplace/source/css/style.scss */
.find {
  border-right: 1px solid #c2c1c1; }

/* line 378, /Users/frankwang/src/parkwayplace/source/css/style.scss */
input, select {
  display: block;
  border: 1px solid black;
  outline: none;
  font-family: "Open Sans"; }

/* line 385, /Users/frankwang/src/parkwayplace/source/css/style.scss */
input[type=submit] {
  margin: 0 auto;
  background: #fff;
  border: 1px solid #000; }

/* line 391, /Users/frankwang/src/parkwayplace/source/css/style.scss */
input[type=submit]:hover {
  background: #CE4E4A;
  color: #fff; }

/* line 396, /Users/frankwang/src/parkwayplace/source/css/style.scss */
input:focus, select:focus {
  outline: 2px solid #cdcf63; }

/* line 400, /Users/frankwang/src/parkwayplace/source/css/style.scss */
textarea {
  width: 100%;
  height: 400px;
  margin-bottom: 20px; }

/* line 406, /Users/frankwang/src/parkwayplace/source/css/style.scss */
textarea:focus {
  outline: 2px solid #cdcf63; }

/* line 411, /Users/frankwang/src/parkwayplace/source/css/style.scss */
form ul {
  list-style: none;
  padding-left: 0; }
/* line 415, /Users/frankwang/src/parkwayplace/source/css/style.scss */
form li {
  position: relative;
  display: block;
  width: 49%;
  float: left;
  margin-bottom: 2%; }
/* line 422, /Users/frankwang/src/parkwayplace/source/css/style.scss */
form #foli6, form #foli8 {
  margin-right: 2%; }
/* line 425, /Users/frankwang/src/parkwayplace/source/css/style.scss */
form #foli11 {
  border: 1px solid #000;
  padding: 16px;
  height: 54px;
  overflow: hidden; }
  /* line 430, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  form #foli11 label {
    display: inline-block; }
  /* line 433, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  form #foli11 div {
    display: inline-block;
    float: right; }
/* line 438, /Users/frankwang/src/parkwayplace/source/css/style.scss */
form li.hide {
  display: none; }
/* line 441, /Users/frankwang/src/parkwayplace/source/css/style.scss */
form #Field6, form #Field7, form #Field8 {
  width: 100%;
  padding: 15px 15px 15px 5em; }
/* line 445, /Users/frankwang/src/parkwayplace/source/css/style.scss */
form #Field8 {
  padding-left: 9em; }
/* line 448, /Users/frankwang/src/parkwayplace/source/css/style.scss */
form #foli9, form .buttons {
  width: 100%; }
/* line 451, /Users/frankwang/src/parkwayplace/source/css/style.scss */
form #Field9 {
  width: 100%; }
/* line 454, /Users/frankwang/src/parkwayplace/source/css/style.scss */
form label[for=Field6], form label[for=Field7], form label[for=Field8] {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px; }

/* line 464, /Users/frankwang/src/parkwayplace/source/css/style.scss */
iframe.map {
  display: block;
  float: right;
  max-width: 800px;
  width: 50%; }

/* line 471, /Users/frankwang/src/parkwayplace/source/css/style.scss */
ol {
  width: 50%;
  float: left;
  padding-left: 0;
  padding-right: 20px;
  list-style-position: inside; }
  /* line 477, /Users/frankwang/src/parkwayplace/source/css/style.scss */
  ol li {
    padding: 20px 0;
    border-bottom: 1px solid #c2c1c1; }
